.card {
  perspective: 200rem;
  position: relative;
  height: 15rem;
  width: 100%;
  margin-top: 1.5rem;
}
.card__side {
  height: 15rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #333;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, red);
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}

.card__heading {
  font-size: 1.3rem;
  font-weight: 300;
  color: #eee;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
}

.card__details {
  padding: 2rem;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
}
.card__details :not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.card__price-box {
  margin-bottom: 2rem;
  color: #fff;
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 2rem;
  font-weight: 100;
}
