.btn--white:link,
.btn--white:visited,
.btn--white {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;

  &::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
}

.btn--white:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.5);
}

.btn--white:active {
  transform: translateY(-0.1rem);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
